<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="utf-8">

	<title>{ifset title}{include title|stripHtml} | {/ifset}E-Rovnice</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="cs" http-equiv="Content-language">
	<meta name="description" content="Správa projektů">
	<meta name="keywords" content="Nette">
	<meta content="Pavel Paulík" name="author">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">

	<link rel="stylesheet" href="{$basePath}/assets/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="{$basePath}/assets/datagrid/css/datagrid.css">
	<link rel="stylesheet" href="{$basePath}/assets/datagrid/css/datagrid-spinners.css">
	<link rel="stylesheet" href="{$basePath}/assets/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="{$basePath}/assets/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="{$basePath}/css/grido.css">
	<link rel="stylesheet" href="{$basePath}/css/style.css?v=1">

	<script src="{$basePath}/assets/jQuery/jquery.min.js"></script>
	<script src="{$basePath}/assets/bootstrap/bootstrap.min.js"></script>
	<script src="{$basePath}/assets/moment/moment.js"></script>
	<script src="{$basePath}/assets/moment/locale/cs.js"></script>
	{block head}{/block}
</head>

<body class="admin">
<nav class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" n:href="Admin:">E-Rovnice</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a n:href="Homepage:">Homepage</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a n:href="User:out">odhlásit se</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class=container>
	{snippet main}
		<div n:foreach="$flashes as $flash" n:class="alert, 'alert-' . $flash->type">{$flash->message}</div>

		{include content}
	{/snippet}
</div>

{block scripts}
	<script src="{$basePath}/assets/nette.ajax.js/nette.ajax.js"></script>
	<script src="{$basePath}/assets/nette.ajax.js/extensions/confirm.ajax.js"></script>
	<script src="{$basePath}/assets/nette.ajax.js/extensions/diagnostics.dumps.ajax.js"></script>
	<script src="{$basePath}/assets/nette.ajax.js/extensions/fidRemove.ajax.js"></script>
	<script src="{$basePath}/assets/nette.ajax.js/extensions/scrollTo.ajax.js"></script>

	<script src="{$basePath}/assets/datagrid/js/datagrid.js"></script>
	<script src="{$basePath}/assets/datagrid/js/datagrid-spinners.js"></script>
	<script src="{$basePath}/assets/datagrid/js/datagrid-instant-url-refresh.js"></script>
	<script src="{$basePath}/assets/live-form-validation/live-form-validation.js"></script>
	<script src="{$basePath}/assets/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script src="{$basePath}/assets/ckeditor5/build/ckeditor5-dll.js"></script>

	<script src="{$basePath}/js/admin.js"></script>
{/block}
</body>
</html>
