{block content}
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="bg-info well">
			<h1 class="text-center" n:block=title>Přihlášení se</h1>
			<div class="alert alert-info text-center" role="alert">(admin / admyn)</div>

			{control signInForm}
		</div>
	</div>
</div>


