{block content}
<div class="well text-center">
	<h1 n:block=title>Byli jste úspěšně odhlášeni.</h1>

	<div class="btn-group">
		<a n:href="Homepage:" class="btn-primary btn btn-xs">Domů</a>
		<a n:href="login" class="btn-info btn btn-xs">přihlásit se</a>
	</div>
</div>
